/*--------------------------------------------------
  Fade
--------------------------------------------------*/
.anim-fade
  &.ng-enter, &.ng-move
    transition opacity .2s linear
    opacity 0
  &.ng-enter.ng-enter-active, &.ng-move.ng-move-active
    opacity 1
  &.ng-leave
    transition opacity .2s linear
    opacity 1
    &.ng-leave-active
      opacity 0


/*--------------------------------------------------
  View
--------------------------------------------------*/
.anim-view
  &.ng-enter, &.ng-move
    transition all .4s ease-out .4s
    opacity 0
    transform translateX(60px) scale(1)
  &.ng-enter.ng-enter-active, &.ng-move.ng-move-active
    opacity 1
    transform translateX(0) scale(1)
  &.ng-leave
    transition all .4s ease-in
    opacity 1
    transform translateX(0)
    &.ng-leave-active
      opacity 0      
      transform translateX(-120px)

 
/*--------------------------------------------------
  Slide
--------------------------------------------------*/
.anim-slide

  &--right, &--left, &--bottom
    &.ng-enter, &.ng-move, &.ng-leave
      transition .4s        

  &--right
    &.ng-enter, &.ng-move
      transform translateX(-100%)
    &.ng-enter.ng-enter-active, &.ng-move.ng-move-active
      transform translateX(0)
    &.ng-leave-active
      transform translateX(100%)

  &--left
    &.ng-enter, &.ng-move
      transform translateX(100%)
    &.ng-enter.ng-enter-active, &.ng-move.ng-move-active
      transform translateX(0)
    &.ng-leave-active
      transform translateX(-100%)

  &--bottom
    &.ng-enter, &.ng-move, &.ng-leave-active
      transform translateY(100%)
      transition-delay .5s
    &.ng-enter.ng-enter-active, &.ng-move.ng-move-active
      transform translateY(0)


