@require '_utils'

/* -----------------------------------
  Global
------------------------------------*/
.view-calendar
  background: white // $colors.primary



/* -----------------------------------
  Week
------------------------------------*/
.week 
  width 100%

  th, td
    padding 10px
    text-align center
  td
    padding 15px 10px
    border-bottom: 1px solid white

 

  &__date
    min-width 60px
    text-align center
    text-transform uppercase 
    padding 18px 0
    color #ffffff66
    background: $colors.primaryDark
    span, small
      display block
    small
      font-size 8px    
    &--today
      color white
      background: $colors.primary
    

  &__meal 
    font-size 13px
    line-height 1.2
    color: $colors.primaryDarker 
    background: $colors.greyLight
    font-weight 700
    position relative
    width 50%
    &--dinner:before
      content ''
      width 1px 
      height 100%
      background: $colors.grey
      position absolute
      left 0
      top 0
      transform scale(.5)   
    &--today
      background white
      color: $colors.primary 
      .btn 
        color white 

  &__recipe
    color: $colors.primary 
    text-align center
    display block
    &--past
      color: $colors.primaryDark

  &__choose
    color: $colors.grey
    display block
    text-align center
    font-size 12px
