@require '_utils'


/* -----------------------------------
  State msg
------------------------------------*/
.state-msg
  position fixed
  width 100%
  bottom 0
  background: $colors.primary
  color white
  z-index 10 
  text-align center
  font-size 14px
  border-top: 1px solid $colors.primaryDark
  padding 15px
  max-width 768px 