@require '_utils'

/* -----------------------------------
  Login
------------------------------------*/
.login-view
  min-height 100vh  
  text-align center
  color white
  background: $colors.primary
 
  a 
    color #fff

  .logo
    font-size 24px 
    margin-top -60px
    transform translateX(-14px)
    img
      margin-right -5px
    strong
      font-weight 900

  .form-control
    background none
    color white

  ::placeholder  /* Chrome, Firefox, Opera, Safari 10.1+ */
    color #ffffff66
    opacity 1 /* Firefox */

  :-ms-input-placeholder  /* Internet Explorer 10-11 */
    color #ffffff66  

  ::-ms-input-placeholder  /* Microsoft Edge */
    color #ffffff66


