@require '_utils'


/* -----------------------------------
  Recipes list
------------------------------------*/
.recipes
  width 100%
  

  th, td
    border-bottom: 1px solid $colors.grey

  &__add-recipe
    input 
      border 0


  &__recipe
    transition background .4s
    &--selected
      background: $colors.primary
      color white
      padding-left 5px
      padding-right 5px
      margin-left -5px

  &__select
    color: $colors.grey
    &--selected
      color: $colors.primary

  .ico-check
    stroke: $colors.grey
    fill: none
    stroke-width 2px
    &--selected
      stroke: $colors.primary
