@require '_utils'

.view--recipe
  .view-header
    background none


/* -----------------------------------
  Recipe
------------------------------------*/
.recipe
  width 100%

  &__hero
    background-size cover
    height 330px
    margin-top -($viewHeaderHeight)
    position relative
    background-position center center
    &:before
      content ''
      background-image: linear-gradient(to bottom, alpha($colors.primary,.7), alpha($colors.primary,.7))
      position absolute
      top 0 
      left 0 
      width 100%
      height 100%

  

  &__title
    position absolute
    bottom 0
    color white
    line-height 1

  &__author
    color white
    display block
    font-size 14px

  &__labels
    list-style none
    padding 0
    li 
      display inline-block
      &:before
        content ''
        background url(../img/check.svg)
        background-size cover
        width 18px    
        height 13px
        display inline-block 

  &__ingredients
    // padding 0

// .recipe